# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\GoProjects\HomeTask8\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
